/*
colors: #63e6be, #495057, #e9ecef
*/

body {
  font-family: sans-serif;
  background-color: #e9ecef;
  color: #495057;
}

footer {
  background-color: #63e6be;
  margin-top: 24px;
}

h1 {
  font-size: 48px;
  font-weight: bold;
  background-color: #63e6be;
  text-align: center;
}

h2 {
  font-weight: bold;
}

img {
  display: flex;
  margin: 32px;
  justify-content: center;
  width: 400px;
  height: 400px;
  border-radius: 5px;
}

ul {
  list-style-type: square;
  line-height: 1.5;
  margin-left: 32px;
}

ol {
  list-style-type: lower-roman;
  line-height: 1.5;
  margin-left: 32px;
}

/* .interestList {
  grid-column: 1 / span 2;
} */

/* .gridContainer {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  justify-content: center;
  gap: 20px;
} */

.listFlex {
  display: flex;
  justify-content: space-around;
  list-style-type: square;
  line-height: 1.5;
  margin-left: 32px;
}

.listHeading {
  background-color: #dee2e6;
  text-align: center;
  border-radius: 10px;
}

.aboutMe {
  align-items: center;
  justify-content: center;
  background-color: #dee2e6;
  border-radius: 10px;

  margin: 32px;
  line-height: 1.5;
}

/* .interestHeading {
} */
